<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>hashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bower_components/angular-dragula/dist/dragula.min.css">
	<link rel="stylesheet" href="styles/styles.css">
	<script src="bower_components/requirejs/require.js" data-main="angular/main"></script>
</head>
<body>
<div ng-controller="QuickstartCtrl" class="main">

	<div class="left-menu" dragula="'bag-template'" dragula-model="savedTemplates" dragula-behavior="copy">
		<div class="template" ng-repeat="template in savedTemplates track by $index" template></div>
	</div>

	<div class="scheduler">
		<div class="center-block">
			<div class="time-col">
				<div class="title"></div>
				<div class="time" ng-repeat="time in times">{{time}}</div>
			</div>
			<div class="day-col" ng-repeat="day in scheduler">
				<div class="title">{{days[$index]}}</div>
				<div class="wrapper"  dragula="'bag-template'" dragula-model="day" dragula-behavior="get">
					<div class="template" ng-repeat="template in day track by $index" template></div>
				</div>
			</div>
		</div>
	</div>

	<div class="bottom-menu" dragula="'bag-template'" dragula-model="bottomMenu" dragula-behavior="copy get">
		<div class="template" ng-repeat="template in bottomMenu track by $index" template></div>
	</div>

</div>
</body>
</html>
