<div class="template" ng-class="{'active':template.active, 'inactive':template.inactive}"
	 ng-style="{'height':template.height+'%'}">
	<div class="resizer resizer-top">
		<div class="time">{{template.time_start_str}}</div>
	</div>
	<div class="plate-body" ng-click="templateActive(template)"></div>

	<div class="name">{{template.name}}</div>
	<div class="id">{{template.id}}</div>

	<div class="resizer resizer-bottom">
		<div class="time">{{template.time_end_str}}</div>
	</div>
</div>