@marine: #0387be;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1;
}

@h: 70vh;
.scheduler {
  display: block;
  margin-top: 20px;
  .center-block {
    position: relative;
    padding: 50px 20px 30px 75px;
    margin: 0 0 0 auto;
    max-width: 935px;
    overflow: hidden;
    background: #fff;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    .title {
      position: absolute;
      left: 0;
      bottom: 100%;
      width: 100%;
      color: @marine;
      text-align: center;
      font-size: 1.5vh;
    }
    .time-col {
      position: absolute;
      top: 50px;
      left: 0;
      width: 75px;
      height: @h;
      .time {
        height: @h/24;
        line-height: @h/24;
        text-align: right;
        color: @marine;
        font-size: 1.6vh;
        padding-right: 37px;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          display: block;
          width: 1px;
          height: 100%;
          top: 0;
          left: 0;
          box-shadow: -3px 0 15px 15px #fff;
        }
        &:nth-child(odd) {
          background: #f9f9f9;
        }
      }
    }
    .day-col {
      width: 14.28571429%;
      float: left;
      position: relative;
      height: @h;
      background: #eee;
      &:nth-child(odd) {
        background: #ddd;
      }
      .wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-right: .5vw solid #fff;
        .margin {
          position: relative;
          width: 100%;
          height: 0;
        }
        .template {
          height: @h/7;
          min-height: @h/144;
          border-radius: 0;
          border-bottom: 1px solid rgba(255, 255, 255, .3);
          .plate-body {
            display: block;
          }
          .name {
            //display: none;
          }
          .id {
            display: none;
          }
          &.active {
            .resizer {
              display: block;
            }
          }
          &.inactive {
            opacity: .5;
          }
        }
      }
    }
  }
}

.left-menu {
  background: #cfc !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  overflow: auto;
  .template {
    margin-bottom: 20px;
  }
}

.bottom-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 300px;
  height: 200px;
  background: #ffc;
  overflow: hidden;
  .template {
    width: 150px;
    height: 150px;
    float: left;
    margin: 20px 10px;
  }
}

.template {
  position: relative;
  background: #900;
  border-radius: 5px;
  width: 100%;
  height: 200px;
  display: block;
  cursor: move;
  .name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2px 5px;
    text-align: right;
  }
  .id {
    color: #fff;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px;
    cursor: default;
  }
  .resizer {
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
    cursor: row-resize;
    z-index: 2;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 4px;
      height: 4px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: @marine;
      border: 3px solid #fff;
      border-radius: 50%;
    }
    &:first-child {
      top: 0;
    }
    &:last-child {
      bottom: 0;
      .time {
        top: 100%;
        bottom: auto;
        border-radius: 10px 0 10px 10px;
        &:before {
          top: 0;
        }
      }
    }
    .time {
      font-weight: 400;
      color: @marine;
      position: absolute;
      bottom: 100%;
      right: 100%;
      padding: 5px 15px;
      width: 70px;
      height: 25px;
      background: #fff;
      border-radius: 10px 10px 0 10px;
      box-shadow: 0 0 6px -1px #000;
      font-size: 16px;
      &:before {
        content: '';
        display: block;
        top: 100%;
        right: 95%;
        border-bottom: 1px solid #999;
        width: 100vw;
        position: absolute;
      }
    }
  }
  .plate-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 1;
  }
}