* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1;
}
.scheduler {
  display: block;
  margin-top: 20px;
}
.scheduler .center-block {
  position: relative;
  padding: 50px 20px 30px 75px;
  margin: 0 0 0 auto;
  max-width: 935px;
  overflow: hidden;
  background: #fff;
}
.scheduler .center-block:after {
  content: '';
  display: block;
  clear: both;
}
.scheduler .center-block .title {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  color: #0387be;
  text-align: center;
  font-size: 1.5vh;
}
.scheduler .center-block .time-col {
  position: absolute;
  top: 50px;
  left: 0;
  width: 75px;
  height: 70vh;
}
.scheduler .center-block .time-col .time {
  height: 2.91666667vh;
  line-height: 2.91666667vh;
  text-align: right;
  color: #0387be;
  font-size: 1.6vh;
  padding-right: 37px;
  position: relative;
}
.scheduler .center-block .time-col .time:before {
  content: '';
  position: absolute;
  display: block;
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: -3px 0 15px 15px #fff;
}
.scheduler .center-block .time-col .time:nth-child(odd) {
  background: #f9f9f9;
}
.scheduler .center-block .day-col {
  width: 14.28571429%;
  float: left;
  position: relative;
  height: 70vh;
  background: #eee;
}
.scheduler .center-block .day-col:nth-child(odd) {
  background: #ddd;
}
.scheduler .center-block .day-col .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-right: .5vw solid #fff;
}
.scheduler .center-block .day-col .wrapper .margin {
  position: relative;
  width: 100%;
  height: 0;
}
.scheduler .center-block .day-col .wrapper .template {
  height: 10vh;
  min-height: 0.48611111vh;
  border-radius: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.scheduler .center-block .day-col .wrapper .template .plate-body {
  display: block;
}
.scheduler .center-block .day-col .wrapper .template .id {
  display: none;
}
.scheduler .center-block .day-col .wrapper .template.active .resizer {
  display: block;
}
.scheduler .center-block .day-col .wrapper .template.inactive {
  opacity: .5;
}
.left-menu {
  background: #cfc !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  overflow: auto;
}
.left-menu .template {
  margin-bottom: 20px;
}
.bottom-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 300px;
  height: 200px;
  background: #ffc;
  overflow: hidden;
}
.bottom-menu .template {
  width: 150px;
  height: 150px;
  float: left;
  margin: 20px 10px;
}
.template {
  position: relative;
  background: #900;
  border-radius: 5px;
  width: 100%;
  height: 200px;
  display: block;
  cursor: move;
}
.template .name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2px 5px;
  text-align: right;
}
.template .id {
  color: #fff;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  cursor: default;
}
.template .resizer {
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
  cursor: row-resize;
  z-index: 2;
}
.template .resizer:before {
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0387be;
  border: 3px solid #fff;
  border-radius: 50%;
}
.template .resizer:first-child {
  top: 0;
}
.template .resizer:last-child {
  bottom: 0;
}
.template .resizer:last-child .time {
  top: 100%;
  bottom: auto;
  border-radius: 10px 0 10px 10px;
}
.template .resizer:last-child .time:before {
  top: 0;
}
.template .resizer .time {
  font-weight: 400;
  color: #0387be;
  position: absolute;
  bottom: 100%;
  right: 100%;
  padding: 5px 15px;
  width: 70px;
  height: 25px;
  background: #fff;
  border-radius: 10px 10px 0 10px;
  box-shadow: 0 0 6px -1px #000;
  font-size: 16px;
}
.template .resizer .time:before {
  content: '';
  display: block;
  top: 100%;
  right: 95%;
  border-bottom: 1px solid #999;
  width: 100vw;
  position: absolute;
}
.template .plate-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 1;
}
